/Tigersong.AOPProxy/obj
/Tigersong.AOPProxy/bin
/Tigersong.Common/bin
/Tigersong.Common/obj
/Tigersong.Entity/bin
/Tigersong.Entity/obj
/Tigersong.IServices/bin
/Tigersong.IServices/obj
/Tigersong.Model/bin
/Tigersong.Model/obj
/Tigersong.Service/bin
/Tigersong.Service/obj
/Tigersong.ServiceProvider/bin
/Tigersong.ServiceProvider/obj
/Tigersong.Web.Admin/bin
/Tigersong.Web.Admin/obj
/Tigersong.Web.Framework/bin
/Tigersong.Web.Framework/obj
